*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-family: "Monsterrat", sans-serif;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}
ul {
  list-style-type: none;
}
.header {
  background: #f9f6f1;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.logo {
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.nav__links {
  padding: 28px 0;
}
.links {
  text-decoration: none;
  color: #212121;
  margin: 0 15px;
}
.links__2 {
  text-decoration: none;
  color: #212121;
  margin: 0 15px;
  float: right;
  padding: 5px 0;
}
.logo__text {
  margin: 0 10px;
  margin-right: 20px;
  font-size: 26px;
  font-weight: 700;
}
.button {
  color: #fff;
  background-color: #d7b399;
  padding: 16px 25px;
  border: none;
  font-size: 16px;
  margin-top: 55px;
}
.header__content {
  margin-top: 178px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header__text {
  font-weight: 200;
  font-size: 30px;
  line-height: 36px;
  font-size: 1.5em;
}
.header__text-second {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  margin-top: 35px;
}
.price__text {
  font-size: 24px;
  color: #212121;
  float: right;
  text-decoration: line-through;
  font-weight: 700;
  
}
.price__text-second {
  font-weight: 700;
  font-size: 42px;
  color: #d84033;
  float: right;
  margin-right: -80px;
  margin-top: 44px;
}
.delivery {
  background-color: #212121;
  height: 235px;
}
.delivery__title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.delivery__text {
  color: #fff;
  font-size: 21px;
  font-weight: 300;
  margin-top: 30px;
}
.delivery__inner {
  text-align: center;
  padding: 80px 0px;
}
.delivery__title-text{
  display: inline;
  font-weight: 100;
  color: #fff;
}
.collection{
  background-color: #F9F6F1;
  margin-bottom: 150px;
}
.collection__inner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 20px;
}
.clc__button{
  background-color: #d7b399;
  border: none;
  margin-top: 40px;
  padding: 12px 30px;
  margin-bottom: 58px;
}
.collection__title{
  margin-top: 70px;
  font-weight: 500;
  font-size: 24px;

}
.collection__text{
  margin-top: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
}
.collection__img{
  float: right;
  margin-right: 40px;
}
.models__inner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 65px;
  
}
.models__section-one{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 48px;
  
  
}
.models__section-two{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 45px;
  
}
.models__title{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 105px;
  text-transform: uppercase;
}
.models{
  margin-bottom: 152px;
}
.models__text{
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  color: #212121;
  margin-top: 25px;
}
.models__price{
  color: #d7b399;
  font-weight: 700;
  font-style: 18px;
  font-weight: 22px;
  text-align: center;
  margin-top: 15px;
}
.models__button{
  background-color: #D7B399;
  color: #fff;
  font-style: 16px;
  line-height: 19px;
  border: none;
  padding: 18px 35px;
  margin-top: 105px;
  margin-right: 180px;
}
.button_content{
  justify-content: center;
  margin-left: 445px;
}
.footer{
  margin-bottom: 82px;
  background-color: #212121;
}
.footer__links{
  color: #fff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 80px;
  grid-gap: 40px;
  margin-left: 10px;
  
}
.footer__links-title{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  margin-bottom: 20px;
  margin-top: 80px;
}
.footer_links-list{
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0;
}
.bottom{
  margin-bottom: 80px;
}
.logo__text-footer{
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  margin-top: 80px;
}
.copyright__text-one{
  font-size: 14px;
  line-height: 22px;
  margin-left: 420px;
  height: 42px;
  
}
.copyright__text{
  display: inline-block;
  margin-bottom: 40px;

}
.main__links{
  float: right;
}
.footer__icons{
  padding: 0 6px;
}



